body {
    font-family: 'Roboto', sans-serif;
    background-color: #000041;
    color: white;
}

.field img {
    width: 100%;
    text-align: center;
}

.icon {
    display: inline-block;
}

.icon img {
    width: 100px;
}

.icon img:hover {
    transform: scale(1.2);
}

.score_counter {
}

.score_counter li {
    font-size: 1.2em;
    margin: 2px;
}

.active {
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #ffa500;
    color: #000041;
}

.fireproof-amount {
    color: #007606;
    font-weight: bold;
    list-style-type: disc;
}

.question {
    background-color: #002089;
    font-size: 1.5em;
    padding: 15px 0 15px 0;
    border: 2px solid #929eff;
    border-radius: 20px;
}

.questionAndAnswers {
    justify-content: space-around
}

.answer {
    background-color: #002089;
    padding: 15px 0 15px 0;
    border: 2px solid #929eff;
    border-radius: 30px;
}

.answer:hover {
    background-color: orange;
}

.modal-content {
    color: black;
    font-weight: bold;
    border: 2px solid #ffffff;
}






































