body{
    font-family: 'Roboto', sans-serif;
    background-color: #000041;
    color: white;
}
.logo img{
    width: 90%;
    text-align: center;
}
.icon{
    display: inline-block;
}
.icon img{
width: 100px;
}

.score_counter{
}
.score_counter li{
    font-size: 1.2em;
    margin: 2px;
}
.active{
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #ffa500;
    color: #000041;
}
.fireproof-amount {
    color: #ff0000;
    font-weight: bold;
    list-style-type: disc;
}

.question div{
    padding: 15px 0 15px 0;
}
.question div{
    background-color: #002089;
    font-size: 1.5em;
}
.questionAndAnswers{
    justify-content: space-around
}
.answer{
    background-color: #002089;
    padding: 15px 0 15px 0;
    border: 2px solid #929eff;
}
.answer:hover{
    background-color: orange;
}
.modal{
    color: black;
}

.hide{
    display: none;
}






































